<div class="photos-gallery-container">
  <div class="photos-gallery-listing-container">
    @for (image of images(); track image.id) {
      <app-image
        [hasSavedMode]="true"
        (imageClick)="onImageClick($event)"
        [image]="image"
      />
    }
  </div>
  @if (isLoading()) {
    <mat-spinner [color]="'primary'" [mode]="'indeterminate'"></mat-spinner>
  }

  @if (hasError()) {
    <p class="error-message">
      Something went wrong. Please try again later.
    </p>
  }
</div>
